/* For use in src/lib/core/theming/_palette.scss */
$doctor-blue: (
  50: #e0ecf3,
  100: #b3cfe0,
  200: #80b0cb,
  300: #4d90b6,
  400: #2678a7,
  500: #006097,
  600: #00588f,
  700: #004e84,
  800: #00447a,
  900: #003369,
  A100: #98c2ff,
  A200: #65a3ff,
  A400: #3285ff,
  A700: #1976ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$doctor-black: (
  50: #e3e5e6,
  100: #b8bdc0,
  200: #899297,
  300: #59666d,
  400: #36454d,
  500: #12242e,
  600: #102029,
  700: #0d1b23,
  800: #0a161d,
  900: #050d12,
  A100: #54b4ff,
  A200: #219eff,
  A400: #0085ed,
  A700: #0077d4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$doctor-light-blue: (
  50: #e0f8ff,
  100: #b3edff,
  200: #80e1ff,
  300: #4dd4ff,
  400: #26cbff,
  500: #00c2ff,
  600: #00bcff,
  700: #00b4ff,
  800: #00acff,
  900: #009fff,
  A100: #ffffff,
  A200: #f2faff,
  A400: #bfe4ff,
  A700: #a6d9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
