<div class="container">

  <div class="main-form">
    <div class="form-input">
      <div class="form-input__image-label">
        <img src='{{"https://avatars.io/twitter/" + userA + "/medium"}}'>
      </div>
      <div class="form-input__control">
        <input [(ngModel)]="userA" placeholder="Usuario 1" class="" id="inline-full-name" type="text">
      </div>
    </div>
    <div class="form-input">
      <div class="form-input__image-label">
        <img src='{{"https://avatars.io/twitter/" + userB + "/medium"}}'>
      </div>
      <div class="form-input__control">
        <input [(ngModel)]="userB" placeholder="Usuario 2" class="" id="inline-username" type="text">
      </div>
    </div>
    <div class="form-input__actions">
      <div class=""></div>
      <div class="form-input__action-buttons">
        <button (click)="getFriends()"
            [disabled]="!validateForm"
            class="" type="button">
          Amigos
        </button>
        <button (click)="getFollowers()"
            [disabled]="!validateForm"
            class="" type="button">
          Seguidores
        </button>
      </div>
    </div>
  </div>

  <div class="results">
    <ng-container *ngIf="friends.length">
      <ul class="">
        <li *ngFor="let friend of friends">
            <a href="{{ 'https://twitter.com/' + friend }}" target="__blank">
              <img src='{{"https://avatars.io/twitter/" + friend + "/medium"}}' alt="">
              <span>{{ friend }}</span>
            </a>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="followers.length">
      <ul class="">
        <li *ngFor="let follower of followers">
          <a href="{{ 'https://twitter.com/' + follower }}" target="__blank">
            <img src='{{"https://avatars.io/twitter/" + follower + "/medium"}}' alt="">
            <span>{{ follower }}</span>
          </a>
        </li>
      </ul>
    </ng-container>
  </div>

</div>
