<div class="full-app">
  <div class="form-content">
    <h1>Hello to Code Camp Test!</h1>
    <div class="controls">
      <input [(ngModel)]="userA" placeholder="User Name 1">
      <input [(ngModel)]="userB" placeholder="User Name 2">
    </div>
    <div class="actions">
      <button (click)="getFriends()"
          [disabled]="!validateForm">
        Friends
      </button>
      <button (click)="getFollowers()"
          [disabled]="!validateForm">
        Followers
      </button>
    </div>
  </div>
  <div class="result-content">
    <ng-container *ngIf="friends">
      <ul>
        <li *ngFor="let friend of friends">{{ friend }}</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="followers">
      <ul>
        <li *ngFor="let follower of followers">{{ follower }}</li>
      </ul>
    </ng-container>
  </div>
</div>
