@import 'global';

.container {
  width: 100%;
  height: auto;

  .main-form {
    padding-left: 12px;

    .form-input {
      display: grid;
      grid-template-columns: 44px 220px auto;

      .form-input__image-label {
        grid-column: 1;

        img {
          width: 44px;
          height: 44px;
          border-radius: 50%;
        }
      }

      .form-input__control {
        grid-column: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 8px;

        input {
          border-radius: 8px;
          height: 36px;
        }
      }
    }

    .form-input__actions {
      display: grid;
      grid-template-columns: 44px 220px auto;
      margin-top: 12px;

      .form-input__action-buttons {
        grid-column: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        button {
          background-color: cv(primary-dark);
          color: white;
          border-radius: 12px;
          height: 36px;
        }

        button:not(:last-of-type) {
          color: white;
          margin-right: 8px;
        }
      }
    }
  }

  .results {
    ul {
      list-style: none;

      li {
        margin-bottom: 8px;
        font-size: 16px;
        color: rgba($color: #000000, $alpha: 0.9);

        a {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
          }

          span {
            color: cv(link-blue);
            margin-left: 12px;
          }
        }
      }
    }
  }
}